.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 50px - 10px);
}

.errorContentContainer {
  color: #dd756f;
}

.errorContentContainer p {
  margin: 6;
}
