.windowInactive {
  color: gray;
}

.titlebar {
  display: flex;
  height: 50px;
  font-size: 0.9rem;
  box-sizing: border-box;
  align-items: flex-start;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /* border-bottom: solid 1.5px rgba(255, 255, 255, 0.02); */

  .title {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    pointer-events: none;
    box-sizing: border-box;
    padding: 5px;

    .buttonGroup {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;

      & > * {
        /* .container padding-top 减 (.title padding 乘以 2) = 40px */
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button {
        flex-shrink: 0;
        fill: currentColor;
        pointer-events: all;
        margin: 0px;
        padding: 0;
        border: none;
        box-shadow: none;
        border: 10px;
        box-sizing: border-box;
        background-color: transparent;
        transition: transform 0.15s cubic-bezier(0.4, 1.2, 0.3, 1);
        min-width: 0;

        &:hover {
          background-color: rgba(125, 125, 125, 0.1);
        }

        @media (prefers-color-scheme: dark) {
          &:hover {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }

        &:active {
          transform: scale(0.85, 0.9);
        }
      }
    }

    .appIconContainer {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 14px;
        height: 14px;
        pointer-events: none;
      }
    }

    .appname {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

  .controls {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 140px;

    .button {
      width: 46px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: currentColor;

      &:hover {
        background: rgba(0, 0, 0, 0.06);
      }

      &:active {
        background: rgba(0, 0, 0, 0.12);
      }

      @media (prefers-color-scheme: dark) {
        &:hover {
          background: rgba(255, 255, 255, 0.06);
        }

        &:active {
          background: rgba(255, 255, 255, 0.12);
        }
      }

      /* 关闭按钮 */
      &:last-child {
        &:hover {
          background: #e81123;
          color: white;
        }

        &:active {
          background: #c50f1f;
        }
      }
    }
  }
}

.hide {
  visibility: hidden;
  width: 0 !important;
  min-width: 0 !important;
}
